* {
  margin: 0;
  padding: 0;
  list-style: none; }

html,
body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .wrapper header {
    width: 100%;
    height: 44px;
    background: #000;
    position: relative; }
    .wrapper header ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrapper header ul li {
        margin: 0 5px;
        color: #fff; }
    .wrapper header p {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #fff; }
  .wrapper section {
    width: 100%;
    flex: 1;
    overflow-y: scroll; }
    .wrapper section div {
      width: 100%;
      border: 1px solid red;
      padding: 5px 0;
      box-sizing: border-box;
      margin-top: 10px; }
      .wrapper section div p:nth-child(1) {
        font-size: 23px;
        font-weight: 800; }
